{% extends "base.twig" %}

{% block body %}
    <ul>
        {% for message in messages %}
            <li> <b> {{ message.getTitle() }} </b>
                <p> {{message.getBody() }} </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
