{% extends "base.twig" %}

{% block body %}
<form method="get" action="/messages" >
<table>
  <tr>
    <td>{% for message in messages %}
  <tr>
    <th>Title: {{ message.getTitle() }}</th>
    <td>Body: {{message.getBody() }}</td>
  </tr>
      {% endfor %}
    </td>
  </tr>
</table>
{% endblock %}

