{% extends "base.twig" %}

{% block body %}
    <h1>Hello friend!</h1>
    {% if errors is not empty %}
        <div style="color: red">При сохранении произошла ошибка</div>
        <ul>
            {% for error in errors %}
                <li>
                    {{ error }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/messages/send"  method="post">
     <div>
        <label>
        Заголовок *
                <input type="text" name="message[title]" value="{{ data.title ?? '' }}">
                {% if errors.title %}
                    <div style="color: red">{{ errors.title }}</div>
                {% endif %}
        <p><b>Send message:</b></p>
    <p><textarea rows="10" cols="45" name="message[message]" placeholder="Write your message"></textarea></p>
        </label>
    </div>
    <input type="submit" value="Create">
    </form>
{% endblock %}