{% extends "base.twig" %}

{% block body %}
    <h1>Вы находитесь в админке</h1>
    <div style="color: white;background-color:DarkGreen; text-align:center;font-weight: bold;">Система готова к работе</div><br>
     <ul class="nav">
            <li><a href="/">Главная</a></li>
            <li><a href="/messages">Список сообщений</a></li>
            <li><a href="/messages/new">Создать сообщение</a></li>
        </ul>
{% endblock %}